.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0D0D0D;
  height: 100vh;
}

#workstation-container{
  display: none;
  justify-content: center;
  height: 60%;
}

#volume-render-canvas{
  height: 100%;
  width: 50%;
  margin-left: 30px;
}

.sliders-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10%;
}

.babylon-canvas{
  width:  80%;
  height: 80%;
  border: none;
  outline: none;
  box-shadow: 8px 8px 10px -6px #000000;
}

.slider {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  color: #1976d2;
  font-size: 16px;
  height: 60px;
}